.main {
	background-color: var(--admin-background);
	height: 100vh;
	width: 100%;
	padding-left: 12rem;
}

.header {
	color: #fff;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.product-contsiner {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	gap: 5rem;
}

.filter-container {
	display: flex;
	align-items: center;
	gap: 1rem
}

.search-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	width: 200px;
	height: 35px;
}

.search-error {
	position: absolute;
	right: 0;
	bottom: -20px;
	color: red;
}