.main {
	background-color: var(--admin-background);
	height: 100vh;
	width: 100%;
	padding-left: 12rem;
}

.header {
	color: #fff;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	padding: 1rem;
}

.title {
	font-size: 1.5rem;
}

.product-contsiner {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	gap: 5rem;
}