.product-wrapper {
	position: relative;
}

.button {
	border: none;
	background-color: inherit;
	position: absolute;
	top: 5px;
	right: 5px;
	color: red;
}

.edit-btn {
	position: absolute;
	bottom: -5px;
	left: 25%;
	padding: 8px 32px;
	border-radius: var(--border-radius);
	font-size: 1rem;
	background-color: #B3DEC1;
}