.navbar-container {
	background-color: var(--admin-navbar);
	color: #fff;
	position: fixed;
	height: 100vh;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 200px;
}

.title {
	font-size: 1.5rem;
}

.nav-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.link {
	padding: 0.5rem 0.5rem;
	width: 100%;
}

.active {
	padding: 0.5rem 0.5rem;
	width: 100%;
	background-color: var(--admin-active-btn);
	border-radius: var(--border-radius);
	transition: all 0.5s ease-in-out;
}