.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-y: hidden;
	backdrop-filter: blur(10px);
}

.modal-content {
	position: relative;
	background-color: rgb(244 244 245);
	margin: 5% auto;
	padding: 2.5rem;
	border: 2px solid rgb(228 228 231);
	border-radius: 0.5rem;
	width: fit-content;
}