.serch-bar {
	position: relative;
	display: flex;
}

.search-input {
	height: 35px;
	width: 200px;
	padding: 10px;
	border-radius: var(--border-radius);
	border: none;
	box-shadow: 3px 3px 3px var(--admin-shadow);
}

.search-input:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	-webkit-animation: scale-in-hor-right 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-hor-right 0.35s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.search-icon {
	cursor: pointer;
	color: var(--admin-active-btn);
}


@-webkit-keyframes scale-in-hor-right {
	0% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		opacity: 1;
	}

	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		opacity: 1;
	}
}

@keyframes scale-in-hor-right {
	0% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		opacity: 1;
	}

	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
		opacity: 1;
	}
}